pipeline/DELTA_LOAD_FOR_EACH_PIPELINE.json
{
	"name": "DELTA_LOAD_FOR_EACH_PIPELINE",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Metadata_for_Delta_Load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "LookupMetadataSQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Delta_Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Metadata_for_Delta_Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Metadata_for_Delta_Load').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Lookup_New_Watermark_for_Each",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select max(modified_date) as NewWaterMark from ',item().sourceschema,'.',item().tablename)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "LookupNewWaterMarkforeach",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Copy_data_Delta",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup_New_Watermark_for_Each",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from ',item().sourceschema,'.',item().tablename,' where ','modified_date',' >''',item().oldwatermark,''' and ','modified_date','<=''',activity('Lookup_New_Watermark_for_Each').output.firstRow.NewWaterMark,'''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceDeltaLoad",
									"type": "DatasetReference",
									"parameters": {
										"sqlschema": {
											"value": "@item().sourceschema",
											"type": "Expression"
										},
										"sqltablename": {
											"value": "@item().tablename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureDataLakeSink",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().blobtablename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Update_Watermark",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_data_Delta",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_watermark]",
								"storedProcedureParameters": {
									"newwatermark": {
										"value": {
											"value": "@activity('Lookup_New_Watermark_for_Each').output.firstRow.NewWaterMark",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"tablename": {
										"value": {
											"value": "@item().tablename",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ForEach_Delta_Into_Staging",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach_Delta_Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Metadata_for_Delta_Load').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('Truncate Table ', item().sourceschema,'.',item().stgdelta)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sourceforstagingdelta",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().blobtablename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sinkforthestaging",
									"type": "DatasetReference",
									"parameters": {
										"sqlschema": {
											"value": "@item().sourceschema",
											"type": "Expression"
										},
										"sqltablename": {
											"value": "@item().stgdelta",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-08-29T15:35:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}