pipeline/Full_Load_For_Each_Soruce_TO_SQL.json
{
	"name": "Full_Load_For_Each_Soruce_TO_SQL",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.metadata ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLMetadatalookup",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Source_to_Blob_Full_Load",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data_Source_Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sourceblob",
									"type": "DatasetReference",
									"parameters": {
										"sourcetable": {
											"value": "@item().sourcetablename",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sinkblobfullload",
									"type": "DatasetReference",
									"parameters": {
										"sinkpath": {
											"value": "@item().sinkpath",
											"type": "Expression"
										},
										"sinktablename": {
											"value": "@item().sinktablename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "ForEach_blob_sql_server",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ForEach_Source_to_Blob_Full_Load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Metadata').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "full_copy_blob_sql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('Truncate Table ', item().sqlschema,'.',item().sqltablename)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sourcekblobfullload",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@item().sinktablename",
											"type": "Expression"
										},
										"tablepath": {
											"value": "@item().sinkpath",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "fulloadsql",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@item().sqlschema",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().sqltablename",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-08-29T15:35:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}